* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
}

.myContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding:40px; */
}

.logoImg {
  width: 200px;
  height: 50px;
  object-fit: contain;
}

#introWrapper {
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 400px;
  width: 100%;
}

.introLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introLeft p {
  line-height: 28px;
  font-size: 22px;
}

.butttonsLeadTo {
  display: flex;
  justify-content: center;
}

.btnLead {
  border-radius: 4px;
  padding: 10px 20px;
  background-color: crimson;
  color: white;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 18px;
  margin: 30px 15px 0 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.btnEduLead {
  margin-left: 10px;
  background-color: #ffde00;
  color: black;
}

.introRight {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}

#countdown-wrapper {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
}

.timer-item {
  margin: 0 20px;

}

.timer-value {
  font-size: 28px;
  font-weight: 900;
  /* margin-bottom: 10px; */
  /* background-color: rgba(0, 0, 0, 0.6); */
  padding: 14px 12px;
}

.timer-unit {
  font-size: 20px;
  font-weight: 400;
  /* background-color: rgba(0, 0, 0, 0.6); */
  padding: 4px 8px;
}

/* Header section */



@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}


@media only screen and (min-width: 1200px) {

  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: intial;
    display: block;
    height:auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a{
    font-size: 15px;
  }

  #header .nav-list ul a:after {
    display: none;
  }

}

/* END Header section */

/* CAROUSEL */

.carousel img {
  width:100% !important;
  min-width:100 !important;
  height: auto;
}

/* END CAROUSEL */


@media (max-width: 767px) {
  #intro .myContainer {
    position: relative;
    top: -50px;
  }

  #introWrapper {
    padding: 20px;
    flex-direction: column;
  }

  .introLeft {
    margin-bottom: 20px;
  }

  .introLeft p,
  .introLeft button {
    font-size: 14px;
    line-height: 16px;
  }

  .introRight {
    align-content: center;
    justify-content: center;
    margin-bottom: 0;
  }

  .countdown-register-wrapper {
    flex-direction: column;
  }

  #countdown-wrapper {
    margin-bottom: 20px;
  }

  .btnLead {
    margin-left: 5px;
    margin-right: 5px;
  }

  .timer-item {
    margin: 0 10px;
  }

  .timer-value {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    /* background-color: rgba(0, 0, 0, 0.6); */
    padding: 6px;
  }

  .timer-unit {
    font-size: 14px;
    font-weight: 400;
    /* background-color: rgba(0, 0, 0, 0.6); */
    padding: 2px;
  }
}

.paragraphImgWrapper p {
  text-align: justify;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}

.paragraphImgWrapper img {
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
  float: right;
}

.O-hackathonu {
  margin-bottom: 20px;
  font-size: 22px;
  /* text-align: justify; */
  font-weight: 600;
}

.ispodNagrada {
  font-size: 20px;
  font-weight: 500;
}

.awardsContainer {
  display: flex;
  margin-bottom: 35px;
}

.btnHackathonPrijava {
  background-color: crimson;
  color: white;
  padding: 15px 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  transition: transform .5s;
}

.btnHackathonPrijava:hover {
  transform: scale(1.1, 1.1);
}

.awardsContainer {
  margin-bottom: 30px;
}

.awardCard {
  width: 250px;
  height: 220px;
  border: 1px solid rgb(231, 141, 4);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
}

.centerCard {
  margin: 0 40px;
  position: relative;
  top: -15px;
}

.awardCard h3 {
  margin-top: 40px;

}

.awardCard img {
  max-width: 100px;
  max-height: 100px;
}

@media (max-width: 1000px) {
  .awardsContainer {
    flex-direction: column;
  }

  .centerCard {
    margin: 0;
    position: relative;
    top: 0;
  }

  .awardCard {
    margin-bottom: 15px;
  }

  .awardsContainer :nth-child(1) {
    order: 2;
  }

  .awardsContainer :nth-child(2) {
    order: 1;
  }

  .awardsContainer :nth-child(3) {
    order: 3;
  }
}

#edu-vikend {
  display: flex;
  justify-content: center;
}

#edu-vikend .container {
  width: 100%;
  margin: 0 50px;
}

.eduWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.banner {
  height: 350px;
  
  padding: 1rem;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto';
  padding: 3px;
}

.banner p {
  font-size: 22px;
  width: 100%;
  font-weight: 600;
  text-align: center;
}

.btnEduPrijava {
  background-color: #ffde00;
  padding: 18px 0px;
  margin-top: 10px;
  cursor: pointer;
  color: black;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  transition: transform .5s;
}

.btnEduPrijava:hover {
  transform: scale(1.1, 1.1);
}

.banner p span {
  font-size: 18px;
}

.p-tag {
  color: red;
}

.innerBanner {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.eduPrijava {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to right, #c33764, #1d2671);
  color: white;
  font-size: 1em;
  font-weight: 700;
}

.topicsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topics {
  width: 100%;
  /* padding:0 40px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-row-gap:30px; */
  grid-gap: 30px;
  margin-bottom: 20px;
}


.lecturer-social-media {
  background-color: crimson;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  padding: 10px;
}

.topic {
  position: relative;
  height: 280px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  border-radius: 10px;
  background-color: #28334b;
  border: 1px solid lightgray;
  color: white;
  font-weight: 600;
  box-shadow: 8px 8px 10px 5px rgba(0, 0, 0, 0.2);
}

.lecturer-social-media a {
  cursor: pointer;
  font-size: 22px;
  padding: 0 10px;
  z-index: 100;
}

.lecturer-social-media a i {
  cursor: pointer;
  color: white;
}

.lecturer-social-media a i:hover {
  color: cyan;

}

.lecturerImg {
  position: absolute;
  margin: auto;
  height: 100px;
  width: 100%;
  overflow: hidden;
  top: 20px;
}

.lecturerImg img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  /* margin-bottom: 10px; */
  transition: transform .5s;
  object-fit: cover;
}

.topicInfo {
  width: 100%;
  position: absolute;
  margin: auto;
  right: 0;
  top: 120px;
  left: 0;
  font-size: 16px;
  padding: 0 10px;
}

.topicInfo p {
  margin: 5px;
  font-weight: 600;
}

.topicInfo2 img {
  width: 20px;
  height: 20px;
}

/*carousel*/



.img-slider {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5%;

}

.img-slider .slide {

  z-index: 1;
  position: absolute;
  width: 90%;

  margin: auto;
}

.img-slider .slide img {
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;

}

.img-slider .slide .info h2 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.img-slider .slide .info p {
  width: 60%;
}

.img-slider .navigation-slider {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 45%;
  transform: translateX(-50%);
}

.img-slider .navigation-slider .btn {
  background: #a3a6a7;
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 60%;
  cursor: pointer;

}


@media (max-width: 767px) {
  .eduWrapper {
    flex-direction: column;
  }

  .banner {
    width: 100%;
    height: auto;
    padding: 0 10px;
  }

  .topics {
    padding: 0 10px;
  }

  .topicInfo {
    font-size: 16px;
  }

}

.agenda {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  font-weight: 600;
}

.agenda h2 {
  font-weight: 800;
}

.agenda ul {
  list-style-type: disc;
  text-align: left;
}

.agendaLeft,
.agendaRight {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.agendaLeft {
  text-align: center;
  border-right: 1px solid black;
}

.agendaRight {
  text-align: center;
}

.day {
  width: 100%;
  margin-bottom: 20px;
}

.day li {
  color: #333;
  font-size: 2rem;
  text-align: left;
}

.agendaRight .day li:nth-child(1) {
  font-size: 20px;
  color: white;
  background-color: crimson;
  margin-bottom: 10px;
  list-style-type: none;
  display: inline-block;
  padding: 2px 5px;
}

.agendaLeft .day li:nth-child(1) {
  font-size: 20px;
  color: black;
  background-color: #ffde00;
  margin-bottom: 10px;
  list-style-type: none;
  display: inline-block;
  padding: 2px 5px;
}

.agendaItem h4 {
  background-color: transparent;
}

@media (max-width: 767px) {
  .agenda {
    flex-direction: column;
  }

  .agendaLeft,
  .agendaRight {
    width: 100%;
  }

  .agendaLeft,
  .agendaRight {
    border: none;
    padding-left: 40px;
  }

  .day ul {
    padding-left: 0;
  }
}

.best-about-wrapper {
  display: flex;
  flex-direction: row;
}

.best-image {
  padding: 20px 20px 20px 40px;
  width: 50%;
  margin-bottom: 20px;
}

.best-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.best-about {
  width: 50%;
  text-align: left;
  padding: 5px;
}

.best-about p {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  text-align: justify;
  /* font-style: oblique; */
  /* align-self: left; */
}

.best-social p.social {
  text-align: left;
}

p.social i {
  background-color: transparent;
  color: #333;
}

.best-social p.social a {
  background-color: rgb(204, 203, 203);
  margin-left: 10px;
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

p.social a.facebook:hover {
  background-color: #4460ae;
}

p.social a.facebook:hover i {
  color: white;
}

p.social a.instagram:hover {
  background-color: #cd4378;
}

p.social a.instagram:hover i {
  color: white;
}

p.social a.twitter:hover {
  background-color: #00aced;
}

p.social a.twitter:hover i {
  color: white;
}

p.social a.linkedin:hover {
  background-color: #0e76a8;
}

p.social a.linkedin:hover i {
  color: white;
}

.best-social p {
  margin: 0;
  text-align: right;
  color: #eeeeee;
}

@media (max-width: 767px) {
  .best-about-wrapper {
    flex-direction: column;
  }

  .best-about,
  .best-image {
    width: 100%;
  }

  .best-image {
    padding: 10px;
  }

  .best-social p.social {
    text-align: center;
    margin-bottom: 20px;
  }

  .best-social p {
    text-align: center;
  }
}


.customPanelHeading {
  background-color: rgb(179, 178, 178);
  padding: 10px 10px;
  font-weight: 600;
  text-align: left;
}

.customHeadingTitle {
  margin: 0;
}

.customHeadingTitle a {
  font-size: 22px;
  color: black;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 600;

}

.customPanelBody {
  font-size: 18px;
  color: black;
  text-align: left;
  padding: 5px 10px;
  font-weight: 600;
  font-family: 'Roboto';
}

@media (max-width: 767px) {
  .customPanelHeading {
    text-align: left;
  }

  .customHeadingTitle a {
    font-size: 16px;
  }

  .customPanelBody {
    font-size: 14px;
    text-align: left;
  }

}


.sponzoriWrapper {

  display: flex;
  flex-direction: column;
  text-justify: center;
  width: 100%;
}

.sponzori {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 30px;
  margin-bottom: 10px;
}

.sponzor-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zlatni img {
  max-width: 300px;
  max-height: 300px;
}

.srebreni img {
  max-width: 220px;
  max-height: 220px;
}

.bronzani img {
  max-width: 140px;
  max-height: 140px;
}

.partneri img {
  max-width: 120px;
  max-height: 120px;
  object-fit: cover;
}

.sponzoriTitle {
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
  padding: 10px 0;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#mistral {
  position: relative;
  left: -25px;
}


#footer {
  padding: 10px;
  line-height:normal;
  position: relative;
  background-color: #28334b; /**/
}

.kontakMailovi {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
}


.kontakMailovi span {
  margin-bottom: 10px;
}

#footer span {
  font-size: 16px;
  color: white;
  word-break:break-word;
}

#footer i {
  margin-right: 10px;
}

.poweredBy {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-family: 'Roboto';

}

.poweredBy a {
  color: yellow
}

@media (min-width: 1500px) {
  .topics {
    grid-template-columns: repeat(5, minmax(200px, 350px));
  }

  .btnLead {
    font-size: 25px;
    padding: 15px 20px;
  }

  .ispodNagrada {
    font-weight: 600;
  }

  .banner p {
    font-size: 20px;
  }

  .introLeft p {
    font-size: 24px;
  }

  .introLeft h1 span {
    font-size: 60px;
  }

  .timer-unit {
    font-size: 25px;
  }

  .timer-value {
    font-size: 35px;
  }

  .best-about p {
    font-size: 25px;
  }

  .day li {
    font-size: 27px;
  }

  .paragraphImgWrapper p {
    font-size: 27px;
  }

  .O-hackathonu {
    font-size: 27px;
  }

  .ispodNagrada {
    font-size: 24px;
  }

  .customHeadingTitle a {
    font-size: 26px;
  }

  .customPanelBody {
    font-size: 22px;
  }

}


#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: #29323c56;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 99%; /* inace je 100% al 99% bolje izgleda*/
	height: 100%;
	
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
  margin:0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
  padding:0; /* hopefully doesnt break anything*/
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 15px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 15px;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #f75159;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 15px;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
}

/* fuuter moje izmjene*/

#Fuuter {
  text-align: center;
  display: flex;
}

/*end footer*/

@media only screen and (max-width:940px) {
  .kontakMailovi {
    padding: 0% !important;
    margin:2px;
  }
}

#FooterMSSLogo {
  width: 49px;
  height:18px;
  
}



/* EDU VIKED HORIZONTAL SCROLL */
.testimonial-group {
  /* overflow-x: auto;
  white-space: nowrap;
  display: grid;
  grid-row: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  display: grid;
  grid-gap: 16px;
  padding: 16px;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(200px,1fr);
  overflow-x: auto;
}
.testimonial-group > .row > .col-md-4 {
  display: inline-block;
  float: none;
  flex: 0 0 25%;
  max-width: 25%;
}

@media only screen and (max-width:500px) {


  .testimonial-group > .row > .col-md-4 {
    width: 100%;
    flex: 0 0 100%;
  }

  #oTakmicenju p {
    text-align: left;
  }

  #organizator p {
    text-align: left;
  }

  #footer span {
    font-size: 12px;
  }

}
@media only screen and (max-width:1000px) {
  .testimonial-group > .row > .col-md-4 {
    width: 50%;
    flex: 0 0 50%;
  }
}


.container.testimonial-group::before {
  display: none;
}

.container.testimonial-group::after {
  display: none;
}

@media (max-width: 1300px) {
  .sponzori{
    grid-row:1;
  }
}